*{
    margin: 0;
    box-sizing: border-box;
    font-family: Brush Script MT;
}
.title{
    text-align: center;
    margin:0 auto;
    margin-bottom: 50px;
}
h1{
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgb(181, 48, 90);
}
.clearfix::after{
content:"";
display:table;
clear:both;
}
.clearfix{
    color:white;
    background-color: rgba(0, 0, 0, 0.879);
    margin: 20px;
    padding: 1px;
    width: 25%;
    float: left;
}

img{
    width: 71px;
    float:left;
    margin-right: 10px;
    
}
.sezione{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.container{
    width: 1000px;
    margin: auto;
}
a{
    text-decoration: none;
    color: rgb(0, 204, 255);
}